@font-face {
    font-family: "geomanist";
    src: url("../Fonts/Geomanist/Geomanist-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "geomanist";
    src: url("../Fonts/Geomanist/Geomanist-Bold.ttf") format("truetype");
    font-weight: 900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: geomanist;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    margin: 0;
    font-family: geomanist, "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
a{
    color: orange;
}
a:hover{
    color: orange;
}

a:focus{
    color: orange;
}
.title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.black{
    color: black;
}
.title p {
    margin: 0;
}
.orange{
    color: orange;
}
.green{
    color: yellowgreen;
}
.white{
    color: #FFFFFF;
}
.nav-links{
 margin: auto;
}
.margin{
 margin: auto;
}
.boldText{
    font-weight: bold;
}
.scrolled {
    background-color: #212529 !important;
    transition: background-color 200ms linear;
}
.logo{
    width: 100px;
    margin: 2rem;
}
/* navbar */
.navbar-brand{
 width: 5vw;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
}
#jobVacancy{
    min-height: 100vh;
    padding: 9vh 3vw;
}
.smallRectangle{
    background-color: rgb(248, 248, 248);
    padding: 50px;
}
.buttonMargin{
    margin: 50px 0;
}
.learnButton{
    padding: 1rem 1rem;
    background-color: orange;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.learnButton:hover{
    padding: 1rem 2rem;
    background-color: orange;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.learnButton:focus{
    padding: 0.9rem;
    background-color: orange;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: .9rem;
}
.black:hover{
    color: black;
}
.black:focus{
    color: black;
}
#jobVacancy ul {
    list-style: none;
  }
  
#jobVacancy ul li::before {
    content: "\2022"; 
    color: orange; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }
/* Footer */
footer{
    text-align: center;
    background-color: rgb(32, 32, 37);
    color: rgb(150, 150, 150);
    padding: 5vh 0vw;
}
/* small screens */
@media only screen and (max-width: 600px){
    /* navbar */
    .navbar-brand{
        width: 15vw;
    }
}